/* Header */

#TFP_HEADER_BG {
	background: url(chrome-extension://__MSG_@@extension_id__/img/tufts_cover.jpg) no-repeat !important;
	background-size: cover !important;
	height:150px !important;
	background-color:#417DC1;
}

#gsis_header {
	height: 110px;
	width: 980px;
	margin: 0 auto;
	position:relative;
}

#gsis_header h1 {
	line-height:110px;
	font-size:4.5em;
	text-shadow: 0 3px 4px black;
	font-weight:bold;
	color:rgb(150, 170, 235);
}

@media only screen and (min-height: 900px) {

	#gsis_header h1 { line-height:260px; font-size:7em; }
	#TFP_HEADER_BG { height:300px !important; }
	#gsis_header { height:260px; }

}

#magic_form {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height:40px;
}

#magic_box {
	border:0;
	background:rgba(255,255,255,0.95);
	border-radius:5px;
	padding: 10px;
	width: 300px;
}


/* Alert Message */
#IS_ALERTS_AREA {
	display: none;
}

#TFP_HEADER, #tfp_hp_options_inner, #ptpgltbody_row_TFP_PORTAL_USER_OPTIONS , #TFP_MENU_BAR {
	display: none;
}



.gsis_header_logo {

}

.gsis_menu {
	background: #300F00;
}

.gsis_menu ul {
	margin:0 auto;
	width:980px;
	height:40px;
}

.gsis_menu li {
	float:left;
	position: relative;
}

.gsis_menu li.rightlink {
	float:right;
}

.gsis_menu a {
	transition: 0.2s all ease;
	background-color: #300F00;
	line-height: 40px;
	background-position: 5px 7px;
	background-size:24px;
	padding:0 8px;
	padding-left:31px;
	font-size:0.8em;
	background-repeat:no-repeat;
}

.gsis_menu a.home-link 		{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-home-4-icon.svg); }
.gsis_menu a.schedule-link 	{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-calendar-5-icon.svg); }
.gsis_menu a.classes-link 	{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-book-17-icon.svg); }
.gsis_menu a.request-link	{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-text-file-4-icon.svg); }
.gsis_menu a.resources-link { background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-picture-box-icon.svg); }
.gsis_menu a.alerts-link 	{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-warning-6-icon.svg); }
.gsis_menu a.help-link 		{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-help-3-icon.svg); }
.gsis_menu a.logout-link 	{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-logout-5-icon.svg); }

.gsis_menu a:link, .gsis_menu a:visited {
	display:block;
	color:white;
	text-decoration: none;
}

.gsis_menu a:hover {
	color:white;
	text-decoration: none !important;
	background-color: #60280D;
}

.gsis_menu li ul {
	position:absolute;
	top:40px;
	width:200px;
	z-index:42;
	display: none;
	opacity:0;
	/*transition: 0.5s all ease;*/
}

.gsis_menu li:hover ul {
	/*display:block;*/
	/*opacity:1;*/
}

.gsis_menu li li {
	float:none;
}

.gsis_menu li li a {
	line-height:30px;
	padding-left:5px;
}

.gsis_menu .alerts-li ul {
	position: absolute;
	top: 40px;
	right: 0;
	left:auto;
	background: #60280D;
	color: white;
	padding: 20px;
	z-index: 99;
	width: 400px;
	height:auto;
	font-size:0.9em;
}