/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);*/

/* Alert Message */
#IS_ALERTS_AREA {
	display: none;
}

#TFP_HEADER, #tfp_hp_options_inner, #ptpgltbody_row_TFP_PORTAL_USER_OPTIONS , #TFP_MENU_BAR {
	display: none;
}

#TFP_HEADER_BG {
	background:#417DC1 !important;
	height:125px !important;
}

.gsis_header {
	height: 85px;
	width: 980px;
	margin: 0 auto;
}

.gsis_header_logo {

}

.gsis_menu {
	background: #300F00;
}

.gsis_menu ul {
	margin:0 auto;
	width:980px;
	height:40px;
}

.gsis_menu li {
	float:left;
	position: relative;
}

.gsis_menu li.rightlink {
	float:right;
}

.gsis_menu a {
	transition: 0.2s all ease;
	background-color: #300F00;
	line-height: 40px;
	background-position: 5px 7px;
	background-size:24px;
	padding:0 8px;
	padding-left:31px;
	font-size:0.8em;
	background-repeat:no-repeat;
}

.gsis_menu a.home-link 		{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-home-4-icon.svg); }
.gsis_menu a.schedule-link 	{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-calendar-5-icon.svg); }
.gsis_menu a.classes-link 	{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-text-file-4-icon.svg); }
.gsis_menu a.request-link	{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-calendar-5-icon.svg); }
.gsis_menu a.resources-link { background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-picture-box-icon.svg); }
.gsis_menu a.help-link 		{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-help-3-icon.svg); }
.gsis_menu a.logout-link 	{ background-image: url(chrome-extension://__MSG_@@extension_id__/img/iconmonstr-logout-5-icon.svg); }

.gsis_menu a:link, .gsis_menu a:visited {
	display:block;
	color:white;
	text-decoration: none;
}

.gsis_menu a:hover {
	color:white;
	text-decoration: none !important;
	background-color: #60280D;
}

.gsis_menu li ul {
	position:absolute;
	top:40px;
	width:200px;
	z-index:42;
	display: none;
	opacity:0;
	/*transition: 0.5s all ease;*/
}

.gsis_menu li:hover ul {
	/*display:block;*/
	/*opacity:1;*/
}

.gsis_menu li li {
	float:none;
}

.gsis_menu li li a {
	line-height:30px;
	padding-left:5px;
}